.services{
    margin: 80px auto;
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.service{
    flex-basis: 31%;
    position: relative;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(4, 60, 27, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}
.caption img{
    width: 60px;
    margin-bottom: 10px;

}
.service:hover .caption{
    opacity: 1;
    padding-top: 0;
}

.title p{
    text-align: center;
    color: #259f37;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}
.title h2{
    font-size: 32px;
    color: #0f4417;
    margin-top: 5px;
    text-transform: none;
}
