.item{
    width : 350px;
}
.item p{
    margin: 6px 0px;

}
.item-prices{
    display: flex;
    gap: 90px;
}
.item-price-new{
    color:#374151;
    font-size: 18px;
    font-weight: 600;
}
.item:hover{
    transform: scale(1.5);
    transition: 0.6s;
}
