.product-item{
    width:100%;
    margin: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    align-content: space-between;
}
.prod-item-img{
    width:100%;
    border-radius: 15px 15px 0px 0px;

    
}
.prod-info{
    padding:20px;
}
.prod-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color:rgb(41, 124, 41);
}
.prod-item-desc{
  
    font-size: 16px;
}
.prod-item-price{
   color: tomato;
   font-size: 14px;
   font-weight:500 ;
   margin: 10px;
}